@use "../../../scss/collection" as col;
@use "sass:map";

@keyframes wave__effect {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1rem);
  }
}

.hero {
  @media (min-width: (map.get(col.$device_size, "desktop") + 100px)) {
    h1 {
      font-size: map.get(col.$font_size, h1_desktop);
    }
  }

  &__info {
    width: 100%;
    padding-bottom: map.get(col.$spacing, "xl");

    @include col.flex_direction(map.get(col.$spacing, "lg"));
    align-items: center;
    justify-content: center;

    @media (min-width: (map.get(col.$device_size, "desktop") + 100px)) {
      grid-column: 2/12;
    }

    &-highlight {
      color: map.get(col.$colors, "primary-highlight");

      span {
        @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
            display: inline-block;
            animation: wave__effect 2.5s ease-in-out infinite;
            animation-delay: #{$i * 0.2}s;
          }
        }
      }
    }
  }
}
