@use "../../../scss/collection" as col;
@use "sass:map";

.hero {
  overflow-x: hidden;

  &__info {
    width: 100%;
    padding: map.get(col.$spacing, "xl");
    padding-inline: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: map.get(col.$spacing, "lg");

    h1 {
      text-align: center;
      @media (min-width: (map.get(col.$device_size, "desktop") + 100px)) {
        text-align: start;
      }
    }

    @media (min-width: (map.get(col.$device_size, "desktop") + 100px)) {
      align-items: start;
      grid-column: 1/7;
    }

    &-highlight {
      color: map.get(col.$colors, "primary-highlight");
    }
  }

  &__img {
    position: relative;
    left: -100px;

    @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
      left: 0;
    }

    @media (min-width: (map.get(col.$device_size, "desktop") + 100px)) {
      grid-column: 7/13;
    }
  }

  @media (min-width: (map.get(col.$device_size, "desktop") + 100px)) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: map.get(col.$spacing, "lg");
  }
}
