@use "../../../scss/collection" as col;
@use "sass:map";

@keyframes wave__effect {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1rem);
  }
}

.hero {
  &__info {
    width: 100%;
    padding-bottom: map.get(col.$spacing, "xl");

    @include col.flex_direction(map.get(col.$spacing, "lg"));

    align-items: center;
    justify-content: center;

    /* h1 {
      text-align: center;
      @media (min-width: (map.get(col.$device_size, "desktop") + 100px)) {
        text-align: start;
      }
    } */

    @media (min-width: (map.get(col.$device_size, "desktop") + 100px)) {
      grid-column: 2/12;
    }

    &-highlight {
      color: map.get(col.$colors, "primary-highlight");
      
      span {
        @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
            display: inline-block;
            animation: wave__effect 2.5s ease-in-out infinite;
            animation-delay: #{$i * 0.2}s;
          }
        }
      }
    }
  }

 /*  &__img {
    position: relative;
    left: -100px;

    @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
      left: 0;
    }

    @media (min-width: (map.get(col.$device_size, "desktop") + 100px)) {
      grid-column: 7/13;
    }
  } */

  @media (min-width: (map.get(col.$device_size, "desktop") + 100px)) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}
