@use "../../../scss/collection" as col;
@use "sass:map";

.contact {
  @include col.flex_direction(map.get(col.$spacing, "sm"));
  align-items: center;
}

.footer {
  @include col.flex_direction(map.get(col.$spacing, "xl"), column);
  align-items: center;
  padding: map.get(col.$spacing, "xl");
  padding-inline: 0;
  margin-inline: auto;

  @media (min-width: (map.get(col.$device_size, "mobile") + 100px)) {
    min-width: map.get(col.$device_size, "mobile");
  }

  @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
    max-width: map.get(col.$device_size, "tablet");
  }

  @media (min-width: (map.get(col.$device_size, "desktop") + 100px)) {
    max-width: map.get(col.$device_size, "desktop");
  }

  @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  &__logo-container {
    @include col.flex_direction(map.get(col.$spacing, "sm"), column);
    align-items: center;

    @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
      align-items: start;
    }
  }

  &__socials {
    @include col.flex_direction(map.get(col.$spacing, "lg"));
    img {
      border-bottom: 2px solid rgba(255, 255, 255, 0);
      transition: border-bottom 0.3s ease-in-out;
    }

    img:hover {
      transition: border-bottom 0.3s ease-in-out;
      border-bottom: 2px solid map.get(col.$colors, "primary-highlight");
    }
  }

  &__nav {
    @include col.flex_direction(map.get(col.$spacing, "md"), column);

    ul {
      @include col.flex_direction(map.get(col.$spacing, "md"), column);
      align-items: center;
    }
  }

  &__contact {
    @include col.flex_direction(map.get(col.$spacing, "sm"), column);
    align-items: center;
    @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
      align-items: start;
    }
  }
}
