//@use "../../scss/" as col;
@use "sass:map";

.error {
  height: 100vh;

  padding-inline: 16px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  align-items: center;
  justify-content: center;

  &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}
