@use "../../../scss/collection" as col;
@use "sass:map";

.header {
  position: relative;
  z-index: 1;

  &__mobile {
    background-color: map.get(col.$colors, "bg-primary");
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: map.get(col.$spacing, "md");
    border-bottom: 2px solid white;

    @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
      display: none;
    }
  }

  &__dropdown {
    position: absolute;
    width: 100%;
    background-color: map.get(col.$colors, "dark-bg-primary");
    border-bottom: 2px solid white;
    text-align: center;

    @include col.head_title(
      $size: map.get(col.$font_size, "h4"),
      $weight: map.get(col.$weight, "600")
    );
    padding: map.get(col.$spacing, "xl");
    padding-inline: 0;

    @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
      display: none;
    }

    ul {
      @include col.flex_direction(map.get(col.$spacing, "lg"));
    }
  }

  &__desktop {
    display: none;

    @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: map.get(col.$spacing, "lg");
      padding-inline: 0;
      border-radius: map.get(col.$spacing, "sm");

      a {
        display: flex;
        align-items: center;
      }
    }
  }

  &__nav {
    ul {
      @include col.flex_direction(map.get(col.$spacing, "lg"), row);
    }
    a {
      @include col.head_title(
        $size: map.get(col.$font_size, "h6"),
        $weight: map.get(col.$weight, "600")
      );
    }
  }
}
