@use "../../scss/collection" as col;
@use "sass:map";

.project_info {
  @include col.flex-direction(map.get(col.$spacing, "xxl"));

  &__thumbnail {
    @include col.white_border();
  }

  &__content {
    @include col.flex-direction(map.get(col.$spacing, "lg"));
  }

  &__header {
    @include col.flex-direction(map.get(col.$spacing, "lg"));
    align-items: center;

    @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
      flex-direction: row;
      justify-content: space-between;
    }

    button {
      width: 100%;
      @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
        width: fit-content;
      }
    }
  }

  &__description {
    @include col.flex-direction(map.get(col.$spacing, "lg"));

    @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      :nth-child(odd) {
        grid-column: 1/7;
      }

      :nth-child(even) {
        grid-column: 7/13;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: map.get(col.$spacing, "md" )
  }

  &__tools {
    @include col.flex-direction(map.get(col.$spacing, "lg"), row);
    flex-wrap: wrap;
    height: fit-content;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 32px;

    @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
      gap: 32px;
    }

    img {
      @include col.white_border();
      width: 100%;
      grid-column: span 12;
    }

    .img__single {
      @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
        grid-column: 4/ 10;
      }
    }

    .img__partner {
      @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
        grid-column: span 6;
      }
    }
  }
}
