@use "../../scss/collection" as col;
@use "sass:map";

.go_back {
  position: sticky;
  top: 0;
  z-index: 1;

  @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
    margin-inline: auto;
    width: min(100%, 1120px);
  }

  button {
    width: 100%;
    border-radius: 0;

    @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
      border-radius: 0 0 8px 8px;
    }
  }
}

.project_info {
  @include col.flex-direction(map.get(col.$spacing, "xxl"));

  &__thumbnail {
    @include col.white_border();
  }

  &__content {
    @include col.flex-direction(map.get(col.$spacing, "lg"));
  }

  &__header {
    @include col.flex-direction(map.get(col.$spacing, "lg"));
    align-items: center;

    @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
      flex-direction: row;
      justify-content: space-between;
    }

    button {
      width: 100%;
      @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
        width: fit-content;
      }
    }
  }

  &__description {
    @include col.flex-direction(map.get(col.$spacing, "lg"));

    @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      :nth-child(odd) {
        grid-column: 1/7;
      }

      :nth-child(even) {
        grid-column: 7/13;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: map.get(col.$spacing, "md");
  }

  &__tools {
    @include col.flex-direction(map.get(col.$spacing, "lg"), row);
    flex-wrap: wrap;
    height: fit-content;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: map.get(col.$spacing, "md" );
    
    @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
      gap: map.get(col.$spacing, "lg" );
    }

    img {
      @include col.white_border();
      box-sizing: border-box;
      width: 100%;
      grid-column: span 12;
    }

    .img__desktop {
      @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
        grid-column: span 6;
      }
    }
    
    .img__mobile {
      grid-column: span 6;
      @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
        grid-column: span 3;
      }
    }
  }
}
