@use "../../../scss/collection" as col;
@use "sass:map";

.about {
  margin: map.get(col.$spacing, "xl");
  margin-inline: 0;

  @include col.flex_direction(map.get(col.$spacing, "lg"), column);

  &__img {
    max-width: 100%;
    display: block;
    margin: auto;
  }

  &__content {
    @include col.flex_direction(map.get(col.$spacing, "lg"), column);
    @media (min-width: (map.get(col.$device_size, "desktop") + 100px)) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__text { 
    @include col.flex_direction(map.get(col.$spacing, "lg"), column);
  }
}
