@use "./collection" as col;
@use "sass:map";


//Basic style
body {
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: map.get(col.$colors, "bg-primary");
  color: map.get(col.$colors, "primary-text");

  width: auto;
  padding: 0;
  margin: auto;

  @include col.bread_text;

  @media (min-width: (map.get(col.$device_size, "mobile") + 100px)) {
    min-width: map.get(col.$device_size, "mobile");
  }

  @media (min-width: (map.get(col.$device_size, "tablet") + 100px)) {
    max-width: map.get(col.$device_size, "tablet");
  }

  @media (min-width: (map.get(col.$device_size, "desktop") + 100px)) {
    max-width: map.get(col.$device_size, "desktop");
  }
}

section {
  padding-inline: map.get(col.$spacing, "md");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

h1 {
  @include col.head_title(
    $size: map.get(col.$font_size, "h1"),
    $weight: map.get(col.$weight, "600")
  );
}
h2 {
  @include col.head_title(
    $size: map.get(col.$font_size, "h2"),
    $weight: map.get(col.$weight, "600")
  );
}
h3 {
  @include col.head_title(
    $size: map.get(col.$font_size, "h3"),
    $weight: map.get(col.$weight, "600")
  );
}
h4 {
  @include col.head_title(
    $size: map.get(col.$font_size, "h4"),
    $weight: map.get(col.$weight, "600")
  );
}
h5 {
  @include col.head_title(
    $size: map.get(col.$font_size, "h5"),
    $weight: map.get(col.$weight, "600")
  );
}

.text_center {
  text-align: center;
}

.p_large {
  @include col.bread_text(map.get(col.$font_size, "h6"));
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: map.get(col.$colors, "primary-text");
  text-decoration-color: rgba(0, 0, 0, 0);
  font-size: map.get(col.$font_size, "h6");

  &:hover {
    transition: color 0.35s ease-in-out, text-decoration-color 0.35s ease-in-out;
    text-decoration-color: map.get(col.$colors, "primary-highlight");
    text-decoration-thickness: 2px;
    color: map.get(col.$colors, "primary-highlight");
  }
}

//Btn styling
.bnt_deafult {
  @include col.btn_deafult();
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-color: rgba(0, 0, 0, 0);

  &-highlight {
    box-shadow: 0 0 16px map.get(col.$colors, "primary-highlight");
  }

  &:hover {
    transition: text-decoration-color 0.35s ease-in-out;
    text-decoration-color: map.get(col.$colors, "primary-text");
    text-decoration-thickness: 2px;
  }
}
